@import url("https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap");

.book-info-root {
  margin: 50px;
  height: 1000px;
  background-color: white;
  box-shadow: 0 19px 100px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.book-info-root .book-info-outer-section {
  width: 100%;
  height: 100%;
  display: flex;
}

.book-info-root .book-info-outer-section .background-left {
  width: 40%;
  float: left;
  background: rgb(2, 0, 36);
  background: linear-gradient( 
    250deg
     , rgb(28 123 121) 30%, rgb(47 93 74) 50%, rgb(65 154 145) 100% ); 
  background-repeat: no-repeat;
  background-size: 70% 100%;
  vertical-align: middle;
  display: flex;
}

.book-info-root .book-info-outer-section .background-left img {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  height: 65%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.book-info-root .book-info-outer-section .background-right {
  width: 60%;
  padding: 30px;
}

.book-info-root .book-info-outer-section .background-right .book-info-inner {
  width: 100%;
}

.book-info-root .book-info-outer-section .background-right .user-btn-section{
  float: right;
}

.book-info-root .book-info-outer-section .background-right .user-btn-section button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: auto 5px;
}

.book-info-root .book-info-outer-section .background-right .user-btn-section img{
  height: 50px;
}

.book-info-root
  .book-info-outer-section
  .background-right
  .book-info-inner
  .MuiPaper-elevation20 {
  box-shadow: none;
}

.book-info-root
  .book-info-outer-section
  .background-right
  .book-info-inner
  .title {
  font-family: "Domine", serif;
  font-size: 60px;
  color: rgb(207, 207, 207);
}

.book-info-root
  .book-info-outer-section
  .background-right
  .book-info-inner
  .author {
  margin: 20px auto;
  font-family: "Domine", serif;
  font-size: 20px;
  color: rgb(201, 201, 201);
}

.book-info-root
  .book-info-outer-section
  .background-right
  .book-info-inner
  .description {
  font-family: "Domine", serif;
  font-size: 20px;
  color: rgb(119, 119, 119);
  margin: 20px auto 20px;
  height: 520px;
  overflow-y: scroll;
}

.book-info-root
  .book-info-outer-section
  .background-right
  .book-info-inner
  .published-date {
  font-family: "Domine", serif;
  margin: 20px auto;
  font-size: 20px;
  color: rgb(119, 119, 119);
}


.review_section .MuiButton-containedPrimary{
  margin: 20px auto;
}

.review_section {
  text-align: center;
}

.review_section .user-review {
  box-shadow: 0px 0px 7px rgb(0 0 0 / 16%), 0px 0px 0px 0px rgb(0 0 0 / 23%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 30px;
  margin: 20px auto;
}

.review_section .user-review {text-align: left ;}

.review_section .user-review .review-details .review-user {
  float: left;
}
.review_section .user-review .review-details .review-timestamp {
  float: right;
}

.review_section .user-review .comment {
  margin: 10px auto;
}


/* Readers css */


  .reader-inner-section {
  /* border: 1px solid #b8c8cc; */
  border-radius: 10px;
  margin: 2%;
  height: 100px;
  /* width: 150px; */
  border: 1px solid rgb(0 0 0 / 15%);
  /* box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%); */
  padding: 2%;
}


  .reader-inner-section
  .container {
  overflow: hidden;

  height: 100%;
  /* border: 1px solid rgba(0, 0, 0, 0.103); */
  /* box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1); */
  /* height: 100px; */
  font-family: Whitney, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  line-height: 24px;
  /* vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px; */
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(40, 44, 63);
  text-align: start;
  text-indent: 0px;
  display: flex;
  /* float: right; */
  /* flex-direction: row; */
  justify-content: space-around;
}


  .reader-inner-section
  .container
  .image-product-id {
  margin: auto auto auto 2%;
  /* float: left; */
  height: 100%;
}

  .reader-inner-section
  .container
  .image-product-id
  .image {
  height: 100%;
}


  .reader-inner-section
  .container
  .image-product-id
  .product-id {
  height: 20%;
  margin-bottom: 1px;
}


  .reader-inner-section
  .container
  .image-product-id
  .image
  .img-item {
  height: 100%;
  max-height: 230px;
  border: 1px solid #3333333a;
}


  .reader-inner-section
  .container
  .item-info {
  margin: 2% auto 2% auto;
  /* float: left; */
  color: rgba(0, 0, 0, 0.5);

  /* margin:0px; */
  /* padding:0px 20px 0px 0px; */
}


  .reader-inner-section
  .container
  .item-info
  .name {
  font-size: 16px;
  color: rgb(0, 0, 0);
}


  .reader-inner-section
  .container
  .item-price {
  margin: 5% 10px 2% auto;
  /* float: right; */
  /* height:20%; */
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  .book-info-root{
    margin: 10px;
  }
  .book-info-root .book-info-outer-section {
    display: block;
  }

  .book-info-root .book-info-outer-section .background-left{
    float: none;
    width: 100%;
    background-size: auto;
    background: rgb(131 173 218);
  }
  .book-info-root .book-info-outer-section .background-left img{
  margin-left: auto;
    margin-right: auto;
    height: 300px;
    padding: 20px;
    margin-top:20px;
    margin-bottom:20px;
    background:white;
  }

  .book-info-root .book-info-outer-section .background-right{
    width:auto
  }
  .book-info-root .book-info-outer-section .background-right .user-btn-section{
    float: none;
  }
  .book-info-root .book-info-outer-section .background-right .user-btn-section button {
    width: 33%;
    margin: auto;
  }
  .book-info-root .book-info-outer-section .background-right .user-btn-section button img{
    height: 30px;
  }
  .book-info-root .book-info-outer-section .background-right .book-info-inner .title{font-size: 25px;}
  .book-info-root .book-info-outer-section .background-right .book-info-inner .description{
    font-size: 15px;
  }
  .book-info-root{
    height: auto;
  }
  .book-info-inner .book-info .reviews .star-container {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .book-info-inner .book-info .reviews .star-container svg{
    width: 30px !important;
    height: 30px !important;
  }
  .review_section .review-form .reviews .star-container {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .review_section .review-form .reviews .star-container svg{
    width: 30px !important;
    height: 30px !important;
  }
  .review_section .user-review{
    padding:10px
  }
  .review_section .user-review .review-details .review-user{
    float: none;
  }
  .review_section .user-review .review-details .review-timestamp{
    float: none;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .book-info-root{
    margin: 10px;
  }
  .book-info-root .book-info-outer-section {
    display: block;
  }

  .book-info-root .book-info-outer-section .background-left{
    float: none;
    width: 100%;
    background-size: auto;
    background: rgb(131 173 218);
  }
  .book-info-root .book-info-outer-section .background-left img{
  margin-left: auto;
    margin-right: auto;
    height: 300px;
    padding: 20px;
    margin-top:20px;
    margin-bottom:20px;
    background:white;
  }

  .book-info-root .book-info-outer-section .background-right{
    width:auto
  }
  .book-info-root .book-info-outer-section .background-right .user-btn-section{
    float: none;
  }
  .book-info-root .book-info-outer-section .background-right .user-btn-section button {
    width: 33%;
    margin: auto;
  }
  .book-info-root .book-info-outer-section .background-right .user-btn-section button img{
    height: 30px;
  }
  .book-info-root .book-info-outer-section .background-right .book-info-inner .title{font-size: 25px;}
  .book-info-root .book-info-outer-section .background-right .book-info-inner .description{
    font-size: 15px;
  }
  .book-info-root{
    height: auto;
  }
  .book-info-inner .book-info .reviews .star-container {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .book-info-inner .book-info .reviews .star-container svg{
    width: 30px !important;
    height: 30px !important;
  }
  .review_section .review-form .reviews .star-container {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .review_section .review-form .reviews .star-container svg{
    width: 30px !important;
    height: 30px !important;
  }
  .review_section .user-review{
    padding:10px
  }
  .review_section .user-review .review-details .review-user{
    float: none;
  }
  .review_section .user-review .review-details .review-timestamp{
    float: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}

