.friend_section {
  text-align: center;
  width: 100%;
}

.friend_section h3 {
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 5%);
  padding: 10px;
}

.friend_section .friend-subsection {
  margin: 5%;

  display: flex;
}

.friend_section .friend-subsection .friend-image {
  width: 20%;
  float: left;
  text-align: right;
  padding: 0px 20px;
  border-right: 5px solid #ffe17c;
}

.friend_section .friend-subsection .friend-form {
  width: 80%;
  text-align: left;
  padding: 20px 100px;
}

.friend_section .friend-subsection .friend-form .MuiGrid-align-items-xs-center {
  align-items: start;
}



.friend_section .friend-subsection .friend-form .MuiGrid-item {
  margin: 20px 0px;
}

.friend_section .friend-subsection .friend-form .extra-section {
  /* border-top: 2px solid #b4b4b4; */
  margin: 20px 0px;
}

.friend_section .friend-subsection .friend-form .friends-list-container {
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* justify-content: center; */
  margin: 5px 0;
}

.friend_section
  .friend-subsection
  .friend-form
  .friends-list-container
  .friend-inner-section {
  /* border: 1px solid #b8c8cc; */
  border-radius: 10px;
  margin: 2%;
  height: 160px;
  /* width: 150px; */
  border: 1px solid rgba(0, 0, 0, 0.041);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); */
  padding: 2%;
}

.friend_section
  .friend-subsection
  .friend-form
  .friends-list-container
  .friend-inner-section
  .container {
  overflow: hidden;

  height: 100%;
  /* border: 1px solid rgba(0, 0, 0, 0.103); */
  /* box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1); */
  /* height: 100px; */
  font-family: Whitney, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  line-height: 24px;
  /* vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px; */
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(40, 44, 63);
  text-align: start;
  text-indent: 0px;
  display: flex;
  /* float: right; */
  /* flex-direction: row; */
  justify-content: space-around;
}

.friend_section
  .friend-subsection
  .friend-form
  .friends-list-container
  .friend-inner-section
  .container
  .image-product-id {
  margin: auto auto auto 2%;
  /* float: left; */
  height: 100%;
}
.friend_section
  .friend-subsection
  .friend-form
  .friends-list-container
  .friend-inner-section
  .container
  .image-product-id
  .image {
  height: 100%;
}

.friend_section
  .friend-subsection
  .friend-form
  .friends-list-container
  .friend-inner-section button{
    width:120px;
    margin:5px;
  }

.friend_section
  .friend-subsection
  .friend-form
  .friends-list-container
  .friend-inner-section
  .container
  .image-product-id
  .product-id {
  height: 20%;
  margin-bottom: 1px;
}

.friend_section
  .friend-subsection
  .friend-form
  .friends-list-container
  .friend-inner-section
  .container
  .image-product-id
  .image
  .img-item {
  height: 100%;
  max-height: 230px;
  border: 1px solid #3333333a;
}

.friend_section
  .friend-subsection
  .friend-form
  .friends-list-container
  .friend-inner-section
  .container
  .item-info {
  margin: auto auto auto auto;
  /* float: left; */
  color: rgba(0, 0, 0, 0.5);

  /* margin:0px; */
  /* padding:0px 20px 0px 0px; */
}

.friend_section
  .friend-subsection
  .friend-form
  .friends-list-container
  .friend-inner-section
  .container
  .item-info
  .name {
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.friend_section
  .friend-subsection
  .friend-form
  .friends-list-container
  .friend-inner-section
  .container
  .item-price {
  margin: 5% 10px 2% auto;
  /* float: right; */
  /* height:20%; */
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
  .friend_section .friend-subsection .friend-image {
    display: none;
  }
  .books-list-container .order-inner-product {
    width: 135px;
  }

  .friend_section .friend-subsection .friend-form {
    width: 100%;
    padding: 20px 20px;
  }
  
}

@media only screen and (max-width: 340px) {
  .friend_section .friend-subsection .friend-form .friends-list-container .friend-inner-section .container .mobile-name {
    font-size: 9px;
  }
  .friend_section .friend-subsection .friend-form .friends-list-container .friend-inner-section button{
    width: 80px;
    font-size: 8px;
  }

}

@media only screen and (max-width: 600px) {
  
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .friend_section .friend-subsection .friend-image {
    display: none;
  }
  .books-list-container .order-inner-product {
    width: 135px;
  }

  .friend_section .friend-subsection .friend-form {
    width: 100%;
    padding: 20px 20px;
  }
  .friend_section .friend-subsection {
    display: block;
  }
  .friend_section .friend-subsection .friend-image {
    text-align: center;
    width: 100%;
    border-right: none;
    padding: 20px 20px 20px 20px;
    border-bottom: 5px solid #ffe17c;
  }

  .friend_section .friend-subsection .friend-image img {
    width: 100%;
    height: auto;
    /* padding: 5% */
  }
  .friend_section .friend-subsection .friend-form {
    /* width: 100%; */
    text-align: left;
    /* padding: 20px 20px; */
  }
  .friend_section
    .friend-subsection
    .friend-form
    .MuiGrid-align-items-xs-center {
    align-items: center;
  }
  .friend_section .friend-subsection .friend-form .friends-list-container .friend-inner-section .container .item-info .name {
    display: none;
  }
  .friend_section .friend-subsection .friend-form .friends-list-container .friend-inner-section .container .item-info .mobile-name {
    display: block;
  }
  .friend_section .friend-subsection .friend-form .friends-list-container .friend-inner-section .container .image-product-id .image .img-item {
    height: 80%;
  }
  .friend_section
  .friend-subsection
  .friend-form
  .friends-list-container
  .friend-inner-section button{
    width:100px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}
