@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

.extra-section {
  margin: 40px;
  background: white;
  border: 2px solid #efefef;
  border-radius: 5px;
}

.extra-section hr{
  background: #cecece;
  height: 3px !important;
}

.extra-section h1 {
  margin-top: 15px;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #59a2a2 !important;
}

.books-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}
.books-list-container .empty-book-list{
  margin-top: 40px;
  margin-bottom: 40px;
}

.books-list-container .order-inner-product {
  /* border: 1px solid #b8c8cc; */
  background:white;
  margin: 2%;
  width: 150px;
  border: 1px solid rgb(41 41 41 / 12%);
  /* box-shadow: 0px 1px 0px 0px rgb(0 0 0 / 19%), 0px 4px 11px 0px rgb(0 0 0 / 23%); */
  padding: 10px;
}

.books-list-container .order-inner-product .container {
  overflow: hidden;
  padding:0px;

  /* border: 1px solid rgba(0, 0, 0, 0.103); */
  /* box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1); */
  /* height: 100px; */
  font-family: Whitney, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  line-height: 24px;
  /* vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px; */
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(40, 44, 63);
  text-align: start;
  text-indent: 0px;
  /* display: flex; */
  /* float: right; */
  /* flex-direction: row; */
  justify-content: space-around;
}

.books-list-container .order-inner-product .container .image-product-id {
  margin: auto auto auto 2%;
  /* float: left; */
  height: 95%;
}
.books-list-container .order-inner-product .container .image-product-id .image {
  height: 80%;
}

.books-list-container
  .order-inner-product
  .container
  .image-product-id
  .product-id {
  height: 20%;
  margin-bottom: 1px;
}

.books-list-container
  .order-inner-product
  .container
  .image-product-id
  .image
  .img-item {
  width: 100%;
  max-height: 230px;
  border: 1px solid #3333333a;
}

.books-list-container .order-inner-product .container .item-info {
  margin: 2% auto 2% auto;
  /* float: left; */
  color: rgba(0, 0, 0, 0.5);

  /* margin:0px; */
  /* padding:0px 20px 0px 0px; */
}

.books-list-container .order-inner-product .container .item-info .name {
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.books-list-container .order-inner-product .container .item-price {
  margin: 5% 10px 2% auto;
  /* float: right; */
  /* height:20%; */
}

.MuiPagination-root {
  justify-content: center;
  display: flex;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}